.planets {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 1000px;
}

.item {
    width: 300px;
    height: 300px;
    margin-top: 30px;
    background-color: white;
    margin: 10px;
    cursor: pointer;
}

.image {
    height: 270px;
    width: 300px;
}

.planet_name {
    display: flex;
    justify-content: center;
}

.nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

.pagination {
    padding: 3px;
    background-color:white;
    border-radius: 30px;
}